.footer{
 background: linear-gradient(to right, #121130, #3432c2, #121130);
 padding: 20px 10vw;
 color: #f9f9f9;
 margin-top: 50px;
 text-align: center;
}

/*estilos para los iconos*/
.social-icons{
 display: flex;
 justify-content: center;
 gap: 20px;
 margin-top: 20px 0;
}

/*estilos para los iconos individuales*/
.social-icons a{
    color: white;
    font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}	

/*estilos para el hover de los iconos*/
.social-icons a:hover{
    transform: scale(1.2);
    color: #3931e1;
}
/* responsive: ajuste para movil */
@media (max-width: 600px) {
    .social-icons{
        gap: 10px;
    }
    .social-icons a{
        font-size: 18px;
    }
}